<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Angaben für die Registrierung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Username" formControlName="firstName">
            <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">
              <!-- user-namen auf doppelte kontrollieren! -->
              <strong>Bitte gib einen Usernamen an!</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-Mail" formControlName="email"> <!--(change)="checkIfExists($event.target)"-->
            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
              <strong>Bitte gib eine E-Mail-Adresse an!</strong>
            </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Passwort</mat-label>
              <input matInput placeholder="Passwort" formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</button>
        </mat-form-field>
      </div>
    <p>
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Passwort wiederholen</mat-label>
            <input matInput placeholder="Passwort wiederholen" formControlName="passwordrepeat" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</button>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="full-width" appearance="standard">
            <mat-label>Rolle</mat-label>
            <mat-select placeholder="Rolle" formControlName="role">
                <!--(4) roles-array durchlaufen-->
                <mat-option *ngFor="let role of roles" [value]="role.abbreviation">
                    {{ role.name }}
                </mat-option>
            </mat-select>
            <!--()-->
            <mat-hint align="end">Rolle wählen</mat-hint>
            <!--(4) behandlung falls validator fehler meldet-->
            <mat-error *ngIf="registerForm.controls['role'].hasError('required')">
                Rolle <strong>erforderlich</strong> 
            </mat-error>
        </mat-form-field>
    </p>
</mat-card-content>
      


    <mat-card-actions>
      <button mat-raised-button color="secondary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
