* {
    --htw-gruen: #76B900;
    --htw-grau:#AFAFAF;
    --htw-orange:#FF5F00;
    --htw-blau:#0082D1;
    --htw-font:Verdana, Geneva, sans-serif;
}

body {
    font-family:var(--htw-font);
}

h1 {
	text-align: center;
	font-size: 60px;
	padding-top: 1%;
}

header {
	margin: 0.5%;
}

#navigation {
	background-color: lightgrey;
	color: var(--htw-orange);
	font-size: 20px;
	font-weight: bold;

}

ul li.nav-item a.nav-link {
	color: var(--htw-orange);
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}


/*ul li.nav-item a.nav-link:hover {
	color:  var(--htw-blau);
	text-decoration: none;
}*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: var(--htw-gruen);
}

#links, #rechts {
	background-color: lightgrey;
	padding-left: 1%;
	padding-right: 1%;
}

@media screen and (max-width: 992px) {
	#links, #rechts {
	background-color: var(--htw-orange);
	}	
}

footer {
	text-align: center;
	background-color: var(--htw-grau);
}
