<button (click)="tableOnOff()" type="reset">
    {{ buttonText }}
</button>

<div *ngIf="tableOn">
    <section>
        <table>
            <thead>
                <tr>
                    <th id="first">Vorname</th>
                    <th id="last">Nachname</th>
                    <th id="email">E-Mail-Adresse</th>
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let m of members">
                    <td>{{m.forename}}</td>
                    <td>{{m.surname}}</td>
                    <td>{{m.email}}</td>                    
                </tr>
            </tbody>
        </table>      
    </section>
</div>

<div class="placeholder" *ngIf="!tableOn">
    Tabelle nicht vorhanden
</div>